@charset "utf-8";
$mainColor:#1a1818;
$mainFontColor:rgb(255, 255, 255);
$borderColor:rgba(19, 193, 199, 0.726);
@mixin button-box{
  font-size: 22px;
  font-weight: bold;
  color: $mainColor;
  background-color: $mainFontColor;
  height: 41px;
  width: 103px;
  text-align: center;
  border: 3px solid $borderColor;
  box-shadow: 0 5px 0 $borderColor;
  border-radius: 6px;
  display: inline-block;
  transition: .3s;
  z-index: 11;
    &:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0 $borderColor;
    }
}
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  cursor: cell;
  background-color: $mainColor;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img{
  max-width: 100%;
}
// ----------header----------
.header{
  margin: 0 auto;
  height: 90px;
  width: 100vw;
  max-width: 100%;
  background-color: $mainColor;
  overflow: hidden;
}
.header-inner{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  z-index: 100;
}
.logo-mark {
  margin: 10px 15px 20px 30px;
  width: 55px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  text-align: left;
  z-index: 100;
}
.logo {
  font-size: 45px;
  width: 200px;
  text-align: left;
  z-index: 100;
  p1 {
    color: #4B24DB;
  }
  p2 {
    color: #B3DB24;
  }
  p3 {
    color: #DB2489;
  }
  p4 {
    color: #24DB61;
  }
  p5 {
    color: #DB9B24;
  }
  p6 {
    color: #DB2442;
  }
  p7 {
    color: #24C0DB;
  }
  p8 {
    color: #7152E2;
  }
  p9 {
    color: #24DB33;
  }
}
.header-sns{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: right;
  height: 100px;
  width: 96vw;
  z-index: 100;
}
.header-sns ul {
  position: fixed;
  width: 180px;
  font-size: 30px;
  z-index: 100;
  a {
    color: #CFCF33;
    transition: 0.2s;
    font-size: 16px;
  }
  i {
    letter-spacing: 10px;
    color: #F8F4F4;
    cursor: pointer;
  }
}
.menu {
  position: fixed;
  top: 60px;
  left: 0px;
  width: 45px;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  ul {
    font-size: 16.5px;
    a {
      writing-mode: vertical-lr;
      transition: 0.2s;
      &:hover {
        color: rgb(245, 248, 224);
      }
    }
  }
  .custom {
    background-color: #4B24DB;
    opacity: 20;
    border-radius: 5px;
    height: 85px;
    box-shadow: #7152E2;
    text-align: center;
    color: #DB2442;
    font-weight: bold;
    scroll-behavior: 2s;
  }
  .Nike {
    background-color: #B3DB24;
    opacity: 20;
    border-radius: 5px;
    height: 85px;
    box-shadow: #7152E2;
    text-align: center;
    color: #DB9B24;
    font-weight: bold;
  }
  .adidas {
    background-color: #DB2489;
    opacity: 20;
    border-radius: 5px;
    height: 85px;
    box-shadow: #7152E2;
    text-align: center;
    color: #24DB61;
    font-weight: bold;
  }
  .vans {
    background-color: #24DB61;
    opacity: 20;
    border-radius: 5px;
    height: 85px;
    box-shadow: #7152E2;
    text-align: center;
    color: #DB2489;
    font-weight: bold;
  }
  .converse {
    background-color: #DB9B24;
    opacity: 20;
    border-radius: 5px;
    height: 85px;
    box-shadow: #7152E2;
    text-align: center;
    color: #B3DB24;
    font-weight: bold;
  }
  .contact {
    background-color: #DB2442;
    opacity: 20;
    border-radius: 5px;
    height: 85px;
    box-shadow: #7152E2;
    text-align: center;
    color: #4B24DB;
    font-weight: bold;
  }
}
// ----------main----------
// ----------first-vew----------
dt,p{
  color: $mainFontColor;
}
.contact_us{
  background-color: $mainColor;
  height: calc(100vh - 240px);
  width: 92vw;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.contact-title{
  color: $mainFontColor;
  width: 100%;
  dd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    width: 800px;
  }
  .contact_us-text{
    display: flex;
    justify-content: space-between;
    height: 95px;
    width: 960px;
    margin: 0 auto ;
    padding: 15px;
      p{
        height: 100px;
        width: 200px;
        padding: 15px 0;
        font-size: 15px;
        font-weight: bold;
        line-height: 24px;
        color: $mainFontColor;
      }
      // dd{
      //   width: calc(100% - 160px);
      //   padding: 15px 0;
      //   height: 100px;
      // }
      // dt.required{
      //   width: 100px;
      // }
      // dt .required::after{
      //   content: "必須";
      //   font-size: 11px;
      //   color: red;
      //   margin-left: 10px;
      // }
      .input-text{
        width: 100%;
        max-width: 280px;
        height: 40px;
        border: 1px solid $mainFontColor;
      }
  }
  .contact_us-text2{
    margin: 0 auto;
    height: 297px;
    width: 960px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;

    p{
      height: 60px;
      width: 250px;
      padding: 10px;
    }
    .message{
      width: 100%;
      height: 245px;
      padding: 10px;
      line-height: 1.5;
    }
  }
  .order-button {
    @include button-box;
    position: absolute;
    bottom: 110px;
    right: 110px;
  }
}

.radio-button{
  display: block;
  margin-top: 20px;
}
.radio-button:first-child{
  margin-top: 0;
}
.radio-button input{
  margin-right: 8px;
}

// ----------footer ----------
.footer {
  background: $mainColor;
  padding: 45px 0 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 100vw;
}
.footer-area{
  height: 100px;
  width: 620px;
  ul{
    display: flex;
    color: $mainFontColor;
      li{
        margin-left: 30px;
        font-size: 20px;
        font-weight: bold;
          a{
            color: $mainFontColor;
          }
      }
  }
}
.small{
  bottom: 0;
  font-weight: bold;
  color: $mainFontColor;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}
// @media (max-width: 640px) {
// //   .showcase,
// //   .showcase header {
// //     padding: 100% 5px;
// //     top: 0;
// //   }
// //   .logo {
// //     position: absolute;
// //     font-size: 25px;
// //     top: 0;
// //     left: 10px;
// //     display: flex;
// //     align-items: center;
// //     justify-content: left;
// //     width: 100%;
// //     padding: 40px 100px;
// //     z-index: 1000;
// //   }
// //   .logo-mark {
// //     position: absolute;
// //     top: 20px;
// //     left: 20px;
// //     width: 10px;
// //     height: 10px;
// //     background-repeat: no-repeat;
// //     background-size: 20px;
// //     background-position: center;
// //     cursor: pointer;
// //     z-index: 20;
// //   }
// //   /* footer */
// // .footer ul a {
// //   font-size: 15px;
// // }
// // .footer ul small {
// //   font-size: 15px;
// // }