@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  cursor: cell;
  background-color: #1a1818;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.header {
  margin: 0 auto;
  height: 90px;
  width: 100vw;
  max-width: 100%;
  background-color: #1a1818;
  overflow: hidden;
}

.header-inner {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  z-index: 100;
}

.logo-mark {
  margin: 10px 15px 20px 30px;
  width: 55px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  text-align: left;
  z-index: 100;
}

.logo {
  font-size: 45px;
  width: 200px;
  text-align: left;
  z-index: 100;
}
.logo p1 {
  color: #4B24DB;
}
.logo p2 {
  color: #B3DB24;
}
.logo p3 {
  color: #DB2489;
}
.logo p4 {
  color: #24DB61;
}
.logo p5 {
  color: #DB9B24;
}
.logo p6 {
  color: #DB2442;
}
.logo p7 {
  color: #24C0DB;
}
.logo p8 {
  color: #7152E2;
}
.logo p9 {
  color: #24DB33;
}

.header-sns {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: right;
  height: 100px;
  width: 96vw;
  z-index: 100;
}

.header-sns ul {
  position: fixed;
  width: 180px;
  font-size: 30px;
  z-index: 100;
}
.header-sns ul a {
  color: #CFCF33;
  transition: 0.2s;
  font-size: 16px;
}
.header-sns ul i {
  letter-spacing: 10px;
  color: #F8F4F4;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 60px;
  left: 0px;
  width: 45px;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.menu ul {
  font-size: 16.5px;
}
.menu ul a {
  writing-mode: vertical-lr;
  transition: 0.2s;
}
.menu ul a:hover {
  color: rgb(245, 248, 224);
}
.menu .custom {
  background-color: #4B24DB;
  opacity: 20;
  border-radius: 5px;
  height: 85px;
  box-shadow: #7152E2;
  text-align: center;
  color: #DB2442;
  font-weight: bold;
  scroll-behavior: 2s;
}
.menu .Nike {
  background-color: #B3DB24;
  opacity: 20;
  border-radius: 5px;
  height: 85px;
  box-shadow: #7152E2;
  text-align: center;
  color: #DB9B24;
  font-weight: bold;
}
.menu .adidas {
  background-color: #DB2489;
  opacity: 20;
  border-radius: 5px;
  height: 85px;
  box-shadow: #7152E2;
  text-align: center;
  color: #24DB61;
  font-weight: bold;
}
.menu .vans {
  background-color: #24DB61;
  opacity: 20;
  border-radius: 5px;
  height: 85px;
  box-shadow: #7152E2;
  text-align: center;
  color: #DB2489;
  font-weight: bold;
}
.menu .converse {
  background-color: #DB9B24;
  opacity: 20;
  border-radius: 5px;
  height: 85px;
  box-shadow: #7152E2;
  text-align: center;
  color: #B3DB24;
  font-weight: bold;
}
.menu .contact {
  background-color: #DB2442;
  opacity: 20;
  border-radius: 5px;
  height: 85px;
  box-shadow: #7152E2;
  text-align: center;
  color: #4B24DB;
  font-weight: bold;
}

dt, p {
  color: rgb(255, 255, 255);
}

.contact_us {
  background-color: #1a1818;
  height: calc(100vh - 240px);
  width: 92vw;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact-title {
  color: rgb(255, 255, 255);
  width: 100%;
}
.contact-title dd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 800px;
}
.contact-title .contact_us-text {
  display: flex;
  justify-content: space-between;
  height: 95px;
  width: 960px;
  margin: 0 auto;
  padding: 15px;
}
.contact-title .contact_us-text p {
  height: 100px;
  width: 200px;
  padding: 15px 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.contact-title .contact_us-text .input-text {
  width: 100%;
  max-width: 280px;
  height: 40px;
  border: 1px solid rgb(255, 255, 255);
}
.contact-title .contact_us-text2 {
  margin: 0 auto;
  height: 70px;
  width: 960px;
}
.contact-title .contact_us-text2 p {
  height: 60px;
  width: 250px;
  padding: 10px;
}
.contact-title .contact_us-text2 .message {
  width: 100%;
  height: 245px;
  padding: 10px;
  line-height: 1.5;
}
.contact-title .order-button {
  font-size: 22px;
  font-weight: bold;
  color: #1a1818;
  background-color: rgb(255, 255, 255);
  height: 41px;
  width: 103px;
  text-align: center;
  border: 3px solid rgba(19, 193, 199, 0.726);
  box-shadow: 0 5px 0 rgba(19, 193, 199, 0.726);
  border-radius: 6px;
  display: inline-block;
  transition: 0.3s;
  z-index: 11;
  position: absolute;
  bottom: 110px;
  right: 110px;
}
.contact-title .order-button:hover {
  transform: translateY(5px);
  box-shadow: 0 0 0 rgba(19, 193, 199, 0.726);
}

.radio-button {
  display: block;
  margin-top: 20px;
}

.radio-button:first-child {
  margin-top: 0;
}

.radio-button input {
  margin-right: 8px;
}

.footer {
  background: #1a1818;
  padding: 45px 0 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 100vw;
}

.footer-area {
  height: 100px;
  width: 620px;
}
.footer-area ul {
  display: flex;
  color: rgb(255, 255, 255);
}
.footer-area ul li {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}
.footer-area ul li a {
  color: rgb(255, 255, 255);
}

.small {
  bottom: 0;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=contact.css.map */

/* --------------------sp */

@media (max-width: 768px){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    cursor: cell;
    

    width: 100vw;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  img {
    max-width: 100%;
  }

  .header {
    margin: 0 auto;
    height: 106px;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    background-color: linear-gradient(90deg, rgb(212, 255, 198) 15%, rgb(184, 255, 160) 33%, rgb(204, 201, 119) 46%, rgb(255, 155, 36) 58%, rgb(19, 22, 105) 75%, rgb(115, 149, 194) 82%, rgb(133, 189, 166) 90%);

  }

  .header .header-inner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 106px;
    z-index: 100;
  }

  .header-inner .logo-mark {
    margin: 10px 15px 20px 30px;
    width: 55px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    text-align: left;
    z-index: 100;
  }

  .header-inner .logo {
    font-size: 45px;
    width: 200px;
    text-align: left;
    z-index: 100;
  }
  .logo p1 {
    color: #4b24db;
  }
  .logo p2 {
    color: #b3db24;
  }
  .logo p3 {
    color: #db2489;
  }
  .logo p4 {
    color: #24db61;
  }
  .logo p5 {
    color: #db9b24;
  }
  .logo p6 {
    color: #db2442;
  }
  .logo p7 {
    color: #24c0db;
  }
  .logo p8 {
    color: #7152e2;
  }
  .logo p9 {
    color: #24db33;
  }

  .header-sns {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: right;
    height: 106px;
    width: 96vw;
    z-index: 100;
  }

  .header-sns ul {
    position: fixed;
    width: 180px;
    font-size: 30px;
    z-index: 100;
  }
  .header-sns ul a {
    color: #cfcf33;
    transition: 0.2s;
    font-size: 16px;
  }
  .header-sns ul i {
    letter-spacing: 10px;
    color: #f8f4f4;
    cursor: pointer;
  }

  .menu {
    position: fixed;
    top: 21px;
    left: 0px;
    width: 45px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  .menu ul {
    font-size: 11.5px;
  }
  .menu ul a {
    writing-mode: vertical-lr;
    transition: 0.2s;
  }
  .menu ul a:hover {
    color: rgb(245, 248, 224);
  }
  .menu .custom {
    background-color: #4b24db;
    opacity: 20;
    border-radius: 5px;
    height: 65px;
    box-shadow: #7152e2;
    text-align: center;
    color: #db2442;
    font-weight: bold;
    scroll-behavior: 2s;
  }
  .menu .Nike {
    background-color: #b3db24;
    opacity: 20;
    border-radius: 5px;
    height: 65px;
    box-shadow: #7152e2;
    text-align: center;
    color: #db9b24;
    font-weight: bold;
  }
  .menu .adidas {
    background-color: #db2489;
    opacity: 20;
    border-radius: 5px;
    height: 65px;
    box-shadow: #7152e2;
    text-align: center;
    color: #24db61;
    font-weight: bold;
  }
  .menu .vans {
    background-color: #24db61;
    opacity: 20;
    border-radius: 5px;
    height: 65px;
    box-shadow: #7152e2;
    text-align: center;
    color: #db2489;
    font-weight: bold;
  }
  .menu .converse {
    background-color: #db9b24;
    opacity: 20;
    border-radius: 5px;
    height: 65px;
    box-shadow: #7152e2;
    text-align: center;
    color: #b3db24;
    font-weight: bold;
  }
  .menu .contact {
    background-color: #db2442;
    opacity: 20;
    border-radius: 5px;
    height: 65px;
    box-shadow: #7152e2;
    text-align: center;
    color: #4b24db;
    font-weight: bold;
  }
  dt, p {
    color: rgb(255, 255, 255);
  }
  
  .contact_us {
    background-color: #1a1818;
    height: calc(100vh - 240px);
    width: 92vw;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .contact-title {
    color: rgb(255, 255, 255);
    width: 100%;
  }
  .contact-title dd {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 0 20px;
    width: 280px;
  }
  .contact-title .contact_us-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 95px;
    width: 390px;
    margin: 0 0 0 354px;
    padding: 15px;
    position: absolute;
    top: 91px;
    left: 0;
  }
  .contact-title .contact_us-text p {
    height: 100px;
    width: 200px;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: rgb(255, 255, 255);
  }
  .contact-title .contact_us-text .input-text {
    width: 100%;
    max-width: 280px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
  }
  .contact-title .contact_us-text2 {
    margin: 0 0 0 0;
    height: 27px;
    width: 649px;
    position: relative;
    top: 0;
    left: 0;
  }
  .contact-title .contact_us-text2 p {
    height: 60px;
    width: 250px;
    padding: 10px;
  }
  .contact_us-text2 .message {
    width: 40%;
    height: 192px;
    padding: 10px;
    position: absolute;
    top: 266px;
    left: 43px;
    line-height: 1.5;
  }
  
  .contact-title .order-button {
    font-size: 22px;
    font-weight: bold;
    color: #1a1818;
    background-color: rgb(255, 255, 255);
    height: 41px;
    width: 103px;
    text-align: center;
    border: 3px solid rgba(19, 193, 199, 0.726);
    box-shadow: 0 5px 0 rgba(19, 193, 199, 0.726);
    border-radius: 6px;
    display: inline-block;
    transition: 0.3s;
    z-index: 11;
    position: absolute;
    bottom: 110px;
    right: 110px;
  }
  .contact-title .order-button:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0 rgba(19, 193, 199, 0.726);
  }
  
  .radio-button {
    display: block;
    margin-top: 20px;
  }
  
  .radio-button:first-child {
    margin-top: 0;
  }
  
  .radio-button input {
    margin-right: 8px;
  }
  
  .footer {
    background: #1a1818;
    padding: 45px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 100vw;
  }
  
  .footer-area {
    height: 100px;
    width: 620px;
  }
  .footer-area ul {
    display: flex;
    color: rgb(255, 255, 255);
  }
  .footer-area ul li {
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  .footer-area ul li a {
    color: rgb(255, 255, 255);
  }
  
  .small {
    bottom: 0;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
