@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*header*/

.logo {
  position: absolute;
  font-size: 40px;
  top: 0;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 20%;
  padding: 40px 100px;
  z-index: 20;
}
.logo p1 {
  color: #4b24db;
}
.logo p2 {
  color: #b3db24;
}
.logo p3 {
  color: #db2489;
}
.logo p4 {
  color: #24db61;
}
.logo p5 {
  color: #db9b24;
}
.logo p6 {
  color: #db2442;
}
.logo p7 {
  color: #24c0db;
}
.logo p8 {
  color: #7152e2;
}
.logo p9 {
  color: #24db33;
}
.logo-mark {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  z-index: 20;
}
/*header*/
section {
  height: 100vh;
  width: 100%;
  background-color: rgb(10, 10, 10);
  overflow: hidden;
  user-select: none;
}
section .row {
  display: flex;
  white-space: nowrap;
  font-size: 50px;
  padding: 10px 0;
  transform: rotate(-25deg);
  position: relative;
  top: -50%;
}
i {
  color: rgba(0, 0, 0, 0.5);
  transition: 1s;
}
i:hover {
  color: violet;
  text-shadow: 0 0 120px violet;
  transition: 0s;
}
section .row div {
  animation: animate 60s linear infinite;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-shadow: 0 0 80px violet;
  z-index: 0;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}
@keyframes animate {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* footer */
.footer {
  width: 100%;
  background: rgb(126, 114, 231);
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  align-items: center;
}
.footer ul {
  list-style: none;
  padding: 0;
  font-size: 24px;
}
.footer ul a {
  text-decoration: none;
  color: #faf8f8;
  transition: 0.2s;
  font-size: 16px;
}
.footer ul i {
  letter-spacing: 10px;
  color: #f8f4f4;
  cursor: pointer;
}
.footer ul i {
  transition: 1s;
}
.footer ul i:hover {
  color: violet;
  text-shadow: 0 0 120px violet;
  transition: 0s;
}
.footer ul small {
  color: white;
}
menu-top {
}
.footer ul a:hover {
  color: #21e2d9;
}
/* footer */
@media (max-width: 640px) {
  .logo {
    position: absolute;
    font-size: 25px;
    top: 0;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 30%;
    padding: 40px 100px;
    z-index: 1000;
  }
  .logo-mark {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor: pointer;
    z-index: 20;
  }
  /* footer */
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    align-items: center;
  }
  .footer ul a {
    font-size: 15px;
  }
  .footer ul small {
    font-size: 15px;
  }
}
