@charset "utf-8";
































$mainColor:#1a1818;
$mainFontColor:rgb(255, 255, 255);
$borderColor:rgba(19, 193, 199, 0.726);
@mixin bg-catch{
  font-weight: bold;
  text-align: left;
  font-size: 25px;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  width: 1550px;
  height: 38px;
  color: #00000000;
}
@mixin button-box1{
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  color: $mainColor;
  background-color: $mainFontColor;
  height: 45px;
  width: 100px;
  padding: 5px 20px;
  text-align: center;
  border: 3px solid $borderColor;
  box-shadow: 0 5px 0 $borderColor;
  border-radius: 6px;
  display: inline-block;
  transition: .3s;
  z-index: 11;
    &:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0 $borderColor;
    }
}
@mixin button-box{
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  color: $mainColor;
  background-color: $mainFontColor;
  height: 45px;
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  border: 3px solid $borderColor;
  box-shadow: 0 5px 0 $borderColor;
  border-radius: 6px;
  display: inline-block;
  transition: .3s;
  z-index: 11;
    &:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0 $borderColor;
    }
}
@mixin box1{
  position: absolute;
  border:1px solid;
  border-top-color:$mainFontColor ;
  border-left-color:transparent ;
  border-bottom-color: transparent;
  border-right-color:transparent ;
  z-index: 10;
}
@mixin box2{
  position: absolute;
  border:1px solid;
  border-top-color:transparent ;
  border-left-color:$mainFontColor ;
  border-bottom-color: transparent;
  border-right-color:transparent ;
  z-index: 10;
}
@mixin box3{
  position: absolute;
  border:1px solid;
  border-top-color:transparent ;
  border-left-color:transparent ;
  border-bottom-color: $mainFontColor;
  border-right-color:transparent ;
  z-index: 10;
}
@mixin box4{
  position: absolute;
  border:1px solid;
  border-top-color:transparent ;
  border-left-color:transparent ;
  border-bottom-color: transparent;
  border-right-color:$mainFontColor ;
  z-index: 10;
}
@mixin box5{
  position: absolute;
  border:1px solid;
  border-top-color:$mainFontColor ;
  border-left-color:transparent ;
  border-bottom-color: transparent;
  border-right-color:transparent ;
  z-index: 10;
}




























@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
































@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");
































* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
































body {
  cursor: cell;
  background-color: $mainColor;
  width: 390px;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
}


li {
  list-style: none;
}




img{
  max-width: 100%;
}
h1{
  font-size: 25px;
}
h2{
  font-size: 22px;
}
@media (max-width: 390px){
  // ----------header----------
  .header{
    margin: 0 auto;
    height: 100px;
    width: 100%;
    max-width: 100%;
    background-color: $mainColor;
    overflow: hidden;
  }
  .header-inner{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    z-index: 100;
  }
  .logo-mark {
    margin: 10px 15px 20px 30px;
    width: 10%;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    text-align: left;
    z-index: 100;
  }
 
 
  .logo {
    font-size: 25px;
    width: 200px;
    text-align: left;
    z-index: 100;
 
    p1 {
      color: #4b24db;
    }
 
    p2 {
      color: #b3db24;
    }
 
 
    p3 {
      color: #db2489;
    }
 
    p4 {
      color: #24db61;
    }
 
 
    p5 {
      color: #db9b24;
    }
 
 
    p6 {
      color: #db2442;
    }
 
 
    p7 {
      color: #24c0db;
    }
 
 
    p8 {
      color: #7152e2;
    }
 
 
    p9 {
      color: #24db33;
    }
  }
  .header-sns{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 6%;
    width: 100%;
    bottom: 4%;
    left: 0;
    margin: 0 auto;
    z-index: 100;
  }
  .header-sns ul {
    position: fixed;
    width: 180px;
    font-size: 24px;
    z-index: 100;
 
    a {
      color: #cfcf33;
      transition: 0.2s;
      font-size: 16px;
    }
 
    i {
      letter-spacing: 10px;
      color: #f8f4f4;
      cursor: pointer;
    }
  }
  .menu {
    position: fixed;
    top: 42px;
    left: 0px;
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
 
    ul {
      font-size: 16.5px;
 
 
      a {
        writing-mode: vertical-lr;
        transition: 0.2s;
 
        &:hover {
          color: rgb(245, 248, 224);
        }
      }
    }
    .custom {
      background-color: #4b24db;
      opacity: 20;
      border-radius: 5px;
      height: 77px;
      box-shadow: #7152e2;
      text-align: center;
      color: #db2442;
      font-weight: bold;
      scroll-behavior: 2s;
    }
 
    .Nike {
      background-color: #b3db24;
      opacity: 20;
      border-radius: 5px;
      height: 77px;
      box-shadow: #7152e2;
      text-align: center;
      color: #db9b24;
      font-weight: bold;
    }
 
    .adidas {
      background-color: #db2489;
      opacity: 20;
      border-radius: 5px;
      height: 77px;
      box-shadow: #7152e2;
      text-align: center;
      color: #24db61;
      font-weight: bold;
    }
 
    .vans {
      background-color: #24db61;
      opacity: 20;
      border-radius: 5px;
      height: 77px;
      box-shadow: #7152e2;
      text-align: center;
      color: #db2489;
      font-weight: bold;
    }
 
    .converse {
      background-color: #db9b24;
      opacity: 20;
      border-radius: 5px;
      height: 77px;
      box-shadow: #7152e2;
      text-align: center;
      color: #b3db24;
      font-weight: bold;
    }
 
    .contact {
      background-color: #db2442;
      opacity: 20;
      border-radius: 5px;
      height: 77px;
      box-shadow: #7152e2;
      text-align: center;
      color: #4b24db;
      font-weight: bold;
    }
  }
  // ----------main----------
  // ----------first-vew----------
  .first-vew {
    height: calc(35vh + 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    position: absolute;
  }
  .first-vew-mov {
    width: 100vw;
    max-width: 100%;
  }
  .bg-mov {
    max-width: 100%;
    width: 100%;
    height: 50vh;
    background-size: cover;
    object-fit: cover;
    z-index: 10;
  }
  .first-vew-text {
    height: 231px;
    width: 100%;
    max-width: 100%;
    color: $mainFontColor;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: -20px;
    left: 0px;
    z-index: 10;
    h1 {
      width: 370px;
      max-width: 100%;
      margin: 0 0 0 42px;
      line-height: 38px;
    }
    h2 {
      position: absolute;
      top: 131px;
      left: 129px;
      width: 241px;
      color: $mainFontColor;
      // z-index: 23;
    }
  }
  .search {
    margin-top: 50vh;
    height: 80vh;
    width: 100vw;
    position: relative;
    z-index: 1;
  }
  .search-text {
    position: absolute;
    top: 0px;
    height: 20vh;
    width: 100vw;
   
    h2 {
      position: absolute;
      top: 10px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      color: $mainFontColor;
      font-weight: bold;
    }
  }
  .search-text2{
    position: absolute;
    top: 58px;
    margin: 0 auto;
    height: 32vh;
    width: 100vw;
   
    p {
      font-size: 13px;
      line-height: 1.5;
      height: 76px;
      width: 100vw;
      margin: 0 44px;
      color: $mainFontColor;
      font-weight: bold;
    }
  }
  .search-link-button-area {
    position: relative;
    height: 401px;
    width: 100vw;
    position: absolute;
    top: 109px;
    left: 0px;
    color: $mainColor;
    z-index: 1;
 
 
   
      p {
        &.nike {
          position: absolute;
          top: 55px;
          left: 82px;
          font-size: 15px;
          font-weight: bold;
          color: #f11616;
          height: 35px;
          width: 60px;
          justify-content: center;
          // z-index: 1;
        }
        &.adidas {
          position: absolute;
          top: 55px;
          left: 129px;
          font-size: 15px;
          font-weight: bold;
          color: #1b1a1a;
          height: 35px;
          width: 60px;
          justify-content: center;
          // z-index: 1;
        }
          &.vans {
          position: absolute;
          top: 55px;
          left: 198px;
          font-size: 15px;
          font-weight: bold;
          color: #1b1a1a;
          height: 35px;
          width: 60px;
          justify-content: center;
          // z-index: 1;
        }
        &.converse {
          position: absolute;
          top: 55px;
          left: 248px;
          font-size: 15px;
          font-weight: bold;
          color: #1b1a1a;
          height: 35px;
          width: 60px;
          justify-content: center;
          // z-index: 1;
        }
      }
      .search-link-button {
        top: 337px;
        left: 224px;
        @include button-box1;
      }
      .custom-img img {
        position: absolute;
        width: 94%;
        top: 0px;
        left: 21px;
      }
      .custom-img1 img {
        position: absolute;
        width: 183px;
        top: 69px;
        left: 110px;
      }
     
      .custom-img2 img {
        position: absolute;
        width: 40px;
        top: 181px;
        left: 136px;
      }
     
      .custom-img3 img {
        position: absolute;
        width: 40px;
        top: 149px;
        left: 136px;
        transform: scale(-1, 1);
        /*画像反転*/
      }
     
      .custom-img4 img {
        position: absolute;
        width: 40px;
        top: 181px;
        left: 185px;
      }
     
      .custom-img5 img {
        position: absolute;
        width: 40px;
        top: 149px;
        left: 185px;
      }
     
      .custom-img6 img {
        position: absolute;
        width: 40px;
        top: 181px;
        left: 240px;
      }
     
      .custom-img7 img {
        position: absolute;
        width: 40px;
        top: 149px;
        left: 86px;
      }
     
      .custom-img8 img {
        position: absolute;
        width: 40px;
        top: 149px;
        left: 240px;
      }
     
      .custom-img9 img {
        position: absolute;
        width: 40px;
        top: 181px;
        left: 86px;
      }
  }
  .custom-img-box {
    position: absolute;
    top:44px;
    left:67px;
    height: 195px;
    width: 269px;
    background-color: #f8eeee;
    // z-index: 0;
  }
  .Underlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #201f1fd5;
    height: 242vh;
    width: 1200px;
    // z-index: 0;
  }
  // ----------guidance----------
  .guidance{
    position: sticky;
    top: 60px;
    left: 0;
    height: 55vh;
    width: 100vw;
    max-width: 100%;
    z-index: -300;
    .guidance-img {
        position: absolute;
        width: 100vw;
        height: 725px;
        display: block;
        top: -120px;
        left: 0;
        object-fit: contain;
        // z-index: -300;
      }
      .guidance-text{
        position: absolute;
          top: 0px;
          width: 100vw;
          height: 50vh;
          margin: 0 auto;
          h2{
            color: $mainFontColor;
          font-size: 12px;
          font-weight: bold;
          margin-bottom: 20px;
          margin: 80px 0 0 44px;
          height: 100px;
          width: 301px;
          text-align: left;
          z-index: -300;
          }
          p{
          color: $mainFontColor;
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 20px;
          padding: 0 77px;
          height: 172px;
          width: 387px;
          text-align: left;
          z-index: -300;
        }
      }
  }
     
  // ----------introduction----------
 
  .introduction {
    overflow: hidden;
    height: 198vh;
    width: 100vw;
    background-color: $mainColor;
    position: relative;
  }
 
 
  .introduction-text {
    font-weight: bold;
    font-size: 2.5rem;
    color: whitesmoke;
    margin: 0px 38px;
    display: flex;
    justify-content: center;
    line-height: 1;
    z-index: 10;
  }
 
 
  .bg-catch1 {
    @include bg-catch;
    animation: loop1 40s linear infinite;
  }
  .bg-catch1-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 40s -20s linear infinite;
  }
  .bg-catch2 {
    @include bg-catch;
    animation: loop1 30s linear infinite;
  }
 
 
  .bg-catch2-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 30s -15s linear infinite;
  }
 
 
  .bg-catch3 {
    @include bg-catch;
    animation: loop1 34s linear infinite;
  }
  .bg-catch3-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 34s -17s linear infinite;
  }
 
 
  .bg-catch4 {
    @include bg-catch;
    animation: loop1 44s linear infinite;
  }
 
 
  .bg-catch4-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 44s -22s linear infinite;
  }
 
 
  .bg-catch5 {
    @include bg-catch;
    animation: loop1 28s linear infinite;
  }
  .bg-catch5-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 28s -14s linear infinite;
  }
 
 
  .bg-catch6 {
    @include bg-catch;
    animation: loop1 50s linear infinite;
  }
 
 
  .bg-catch6-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 50s -25s linear infinite;
  }
 
 
  .bg-catch7 {
    @include bg-catch;
    animation: loop1 48s linear infinite;
  }
 
 
  .bg-catch7-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 48s -24s linear infinite;
  }
 
 
  .bg-catch8 {
    @include bg-catch;
    animation: loop1 36s linear infinite;
  }
 
 
  .bg-catch8-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 36s -18s linear infinite;
  }
 
 
  .bg-catch9 {
    @include bg-catch;
    animation: loop1 30s linear infinite;
  }
 
 
  .bg-catch9-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 30s -15s linear infinite;
  }
 
 
  .bg-catch10 {
    @include bg-catch;
    animation: loop1 36s linear infinite;
  }
 
 
  .bg-catch10-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 36s -18s linear infinite;
  }
 
 
  .bg-catch11 {
    @include bg-catch;
    animation: loop1 40s linear infinite;
  }
 
 
  .bg-catch11-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 40s -20s linear infinite;
  }
 
 
  .bg-catch12 {
    @include bg-catch;
    animation: loop1 24s linear infinite;
  }
 
 
  .bg-catch12-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 24s -12s linear infinite;
  }
 
 
  .bg-catch13 {
    @include bg-catch;
    animation: loop1 38s linear infinite;
  }
 
 
  .bg-catch13-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 38s -19s linear infinite;
  }
 
 
  .bg-catch14 {
    @include bg-catch;
    animation: loop1 54s linear infinite;
  }
 
 
  .bg-catch14-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 54s -27s linear infinite;
  }
 
 
  .bg-catch15 {
    @include bg-catch;
    animation: loop1 60s linear infinite;
  }
 
 
  .bg-catch15-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 60s -30s linear infinite;
  }
 
 
  .bg-catch16 {
    @include bg-catch;
    animation: loop1 70s linear infinite;
  }
 
 
  .bg-catch16-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 70s -35s linear infinite;
  }
 
 
  .bg-catch17 {
    @include bg-catch;
    animation: loop1 20s linear infinite;
  }
 
 
  .bg-catch17-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 20s -10s linear infinite;
  }
 
 
  .bg-catch18 {
    @include bg-catch;
    animation: loop1 90s linear infinite;
  }
 
 
  .bg-catch18-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 90s -45s linear infinite;
  }
 
 
  .bg-catch19 {
    @include bg-catch;
    animation: loop1 66s linear infinite;
  }
 
 
  .bg-catch19-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 66s -33s linear infinite;
  }
 
 
  .bg-catch20 {
    @include bg-catch;
    animation: loop1 42s linear infinite;
  }
 
 
  .bg-catch20-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 42s -21s linear infinite;
  }
 
 
  .bg-catch21 {
    @include bg-catch;
    animation: loop1 50s linear infinite;
  }
 
 
  .bg-catch21-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 50s -25s linear infinite;
  }
 
 
  .bg-catch23 {
    @include bg-catch;
    animation: loop1 40s linear infinite;
  }
 
 
  .bg-catch23-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 40s -20s linear infinite;
  }
 
 
  .bg-catch24 {
    @include bg-catch;
    animation: loop1 30s linear infinite;
  }
 
 
  .bg-catch24-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 30s -15s linear infinite;
  }
 
 
  .bg-catch25 {
    @include bg-catch;
    animation: loop1 34s linear infinite;
  }
 
 
  .bg-catch25-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 34s -17s linear infinite;
  }
 
 
  .bg-catch26 {
    @include bg-catch;
    animation: loop1 44s linear infinite;
  }
 
 
  .bg-catch26-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 44s -22s linear infinite;
  }
 
 
  .bg-catch27 {
    @include bg-catch;
    animation: loop1 28s linear infinite;
  }
 
 
  .bg-catch27-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 28s -14s linear infinite;
  }
 
 
  .bg-catch28 {
    @include bg-catch;
    animation: loop1 50s linear infinite;
  }
 
 
  .bg-catch28-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 50s -25s linear infinite;
  }
 
 
  .bg-catch29 {
    @include bg-catch;
    animation: loop1 48s linear infinite;
  }
 
 
  .bg-catch29-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 48s -24s linear infinite;
  }
 
 
  .bg-catch30 {
    @include bg-catch;
    animation: loop1 36s linear infinite;
  }
 
 
  .bg-catch30-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 36s -18s linear infinite;
  }
 
 
  .bg-catch31 {
    @include bg-catch;
    animation: loop1 30s linear infinite;
  }
 
 
  .bg-catch31-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 30s -15s linear infinite;
  }
 
 
  .bg-catch32 {
    @include bg-catch;
    animation: loop1 36s linear infinite;
  }
 
 
  .bg-catch32-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 36s -18s linear infinite;
  }
 
 
  .bg-catch33 {
    @include bg-catch;
    animation: loop1 40s linear infinite;
  }
 
 
  .bg-catch33-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 40s -20s linear infinite;
  }
 
 
  .bg-catch34 {
    @include bg-catch;
    animation: loop1 24s linear infinite;
  }
 
 
  .bg-catch34-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 24s -12s linear infinite;
  }
 
 
  .bg-catch35 {
    @include bg-catch;
    animation: loop1 38s linear infinite;
  }
 
 
  .bg-catch35-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 38s -19s linear infinite;
  }
 
 
  .bg-catch36 {
    @include bg-catch;
    animation: loop1 54s linear infinite;
  }
 
 
  .bg-catch36-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 54s -27s linear infinite;
  }
 
 
  .bg-catch37 {
    @include bg-catch;
    animation: loop1 60s linear infinite;
  }
 
 
  .bg-catch37-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 60s -30s linear infinite;
  }
 
 
  .bg-catch38 {
    @include bg-catch;
    animation: loop1 70s linear infinite;
  }
 
 
  .bg-catch38-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 70s -35s linear infinite;
  }
 
 
  .bg-catch39 {
    @include bg-catch;
    animation: loop1 20s linear infinite;
  }
 
 
  .bg-catch39-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 20s -10s linear infinite;
  }
 
 
  .bg-catch40 {
    @include bg-catch;
    animation: loop1 90s linear infinite;
  }
 
 
  .bg-catch40-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 90s -45s linear infinite;
  }
 
 
  .bg-catch41 {
    @include bg-catch;
    animation: loop1 66s linear infinite;
  }
 
 
  .bg-catch41-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 66s -33s linear infinite;
  }
 
 
  .bg-catch42 {
    @include bg-catch;
    animation: loop1 42s linear infinite;
  }
 
 
  .bg-catch42-1 {
    @include bg-catch;
    margin: -38px 0 0 0;
    animation: loop1 42s -21s linear infinite;
  }
 
  .nike-area{
    position: absolute;
    top: 188px;
    left: 37px;
    height: 132px;
    width: 85%;
    .introduction-nike img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 390px;
      z-index: 10;
    }
    .workshop-nike-button {
      top: 70px;
      left: 7px;
      @include button-box;
    }
  }
 
 
  .adidas-area{
    position: absolute;
    top: 333px;
    left: 37px;
    height: 132px;
    width: 85%;
    .introduction-adidas img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 390px;
      z-index: 10;
    }
    .workshop-adidas-button {
      top: 70px;
      left: 7px;
      @include button-box;
    }
  }
  .vans-area{
    position: absolute;
    top: 478px;
    left: 37px;
    height: 132px;
    width: 85%;
    .introduction-vans img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 390px;
      z-index: 10;
    }
    .workshop-vans-button {
      top: 70px;
      left: 7px;
      @include button-box;
    }
  }
  .converse-area{
    position: absolute;
    top: 623px;
    left: 37px;
    height: 132px;
    width: 85%;
    .introduction-converse img {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 390px;
      z-index: 10;
    }
    .workshop-converse-button {
      top: 70px;
      left: 7px;
      @include button-box;
    }
  }
 
 
 
 
 
 
 
 
  .workshop-vans-button {
    bottom: 9px;
    right: 53px;
    @include button-box;
  }
 
 
 
 
  .workshop-converse-button {
    top: 261px;
    left: 74px;
    @include button-box;
  }
 
 
  .bg-catch .nike1 {
    transition: 1s;
  }
 
 
  .nike1:hover {
    font-size: 25px;
    font-weight: bold;
    color: #ff0000;
    text-shadow: 0 0 120px #ff0000;
    transition: 0s;
  }
 
 
  .bg-catch .vans1 {
    transition: 1s;
  }
 
 
  .vans1:hover {
    font-size: 25px;
    font-weight: bold;
    color: #007fff;
    text-shadow: 0 0 120px #007fff;
    transition: 0s;
  }
 
 
  .bg-catch .adidas1 {
    transition: 1s;
  }
 
 
  .adidas1:hover {
    font-size: 25px;
    font-weight: bold;
    color: #ff007f;
    text-shadow: 0 0 120px #ff007f;
    transition: 0s;
  }
 
 
  .bg-catch .converse1 {
    transition: 1s;
  }
 
 
  .converse1:hover {
    font-size: 25px;
    font-weight: bold;
    color: #00ffff;
    text-shadow: 0 0 120px #00ffff;
    transition: 0s;
  }
 
 
 
 
 
 
 
 
 
 
  @keyframes loop1 {
    0% {
      transform: translateX(100%);
    }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
    100% {
      transform: translateX(-100%);
    }
  }
 
 
 
 
  // ----------passing----------
 
 
 
 
  .passing-area{
    position: absolute;
    top: 771px;
    left: 0;
    height: 80vh;
    width: 100vw;
    margin: 0 auto;
    .passing-img img{
      height: 80vh;
      width: 100vw;
      max-width: 100%;
      object-fit: cover;
      align-items: center;
    }
  }
 
 
  .passing-text-box{
    position: relative;
    top: -394px;
    left: 54px;
    background-color: rgba(255, 255, 255, 0.534);
    background-size: 300px 500px;
    padding: 13px 20px;
    border-radius: 20px;
    height: 215px;
    width: 298px;
   
  }
  .passing-text{
    position: absolute;
    top: 66px;
    left: 66px;
    font-size: 18px;
    font-weight: bold;
    height: 100px;
    width: 301px;
    color: $mainColor;
    line-height: 1;
    z-index: 100;
  }
 
 
 
 
 
 
 
 
 
 
  .price{
    height: 97vh;
    width: 100vw;
    margin: 0 auto;
    max-width: 100%;
    background-color: rgb(75, 71, 71);
  }
  .price-list{
    padding: 10px 0px;
    height: 93px;
    line-height: 3;
      h1{
        height: 100px;
        text-align: center;
        font-weight: bold;
        color: $mainFontColor;
      }
  }
 
 
  .box1{
    top: 2270px;
    left: 20px;
    height: 10px;
    width: 96px;
    @include box1;
  }
  // .box2{
  //   top: 4478px;
  //   left: 106px;
  //   height: 435px;
  //   width: 10px;
  //   @include box2;
  // }
  .box3{
    top: 2758px;
    left: 70px;
    height: 10px;
    width: 270px;
    @include box3
  }
  // .box4{
  //   top: 4478px;
  //   right: 106px;
  //   height: 435px;
  //   width: 10px;
  //   @include box4
  // }
  .box5{
    top: 2270px;
    right: 20px;
    height: 10px;
    width: 96px;
    @include box5
  }
  .paint-area{
    height: 143px;
    width: 78vw;
    margin: 0 auto;
    line-height: 2;
    h2{
      display: flex;
      float: none;
      font-weight: bold;
      margin :0 auto;
      padding-right: 50px;
      color: $mainFontColor;
    }
    p{
      color: $mainFontColor;
      font-weight: bold;
      font-size: 21px;
      margin-left: 70px;
      line-height: 1.5;
    }
  }
 
 
 
 
  .Sketch-area{
    height: 143px;
    width: 78vw;
    margin: 0 auto;
    line-height: 2;
    h2{
      display: flex;
      float: none;
      font-weight: bold;
      margin :0 auto;
      padding-right: 50px;
      color: $mainFontColor;
    }
    p{
      color: $mainFontColor;
      font-weight: bold;
      font-size: 21px;
      margin-left: 70px;
      line-height: 1.5;
    }
  }
 
 
 
 
  .manual-area{
    height: 143px;
    width: 78vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    line-height: 2;
   
    p{
      color: $mainFontColor;
      font-weight: bold;
      font-size: 14px;
      margin-left: 50px;
    }
  }
 
 
  .manual{
    height: 112vh;
    width: 100vw;
    margin: 0 auto;
    max-width: 100%;
    background-color: rgb(75, 71, 71);
  }
  .box6{
    top: 2802px;
    left: 20px;
    height: 10px;
    width: 96px;
    @include box1;
  }
  // .box7{
  //   top: 4993px;
  //   left: 106px;
  //   height: 425px;
  //   width: 10px;
  //   @include box2;
  // }
  .box8{
    top: 3347px;
    left: 70px;
    height: 10px;
    width: 270px;
    @include box3
  }
  // .box9{
  //   top: 4993px;
  //   right: 106px;
  //   height: 425px;
  //   width: 10px;
  //   @include box4
  // }
  .box10{
    top: 2802px;
    right: 20px;
    height: 10px;
    width: 96px;
    @include box5
  }
  .manual-title{
    padding: 7px 30px;
    height: 90px;
    margin: 0 auto;
    line-height: 3;
      h1{
        text-align: center;
        margin-top: 0 auto;
        font-weight: bold;
        color: $mainFontColor;
      }
    }
    .manual-text{
      height: 100px;
      width: 100vw;
      margin: 0 auto;
      line-height: 1.5;
   
      h2{
        display: flex;
        padding: 13px 30px;
        text-align: center;
        justify-content: center;
        float: none;
        font-weight: bold;
        height: 75px;
        margin :0 auto;
        color: $mainFontColor;
      }
    }
  .manual-p-text1{
    height:76vh;
    width: 100vw;
    margin: 0 0 0 0;
    line-height: 1.5;
    color: $mainFontColor;
          li{
            margin-left: 1.5em;
            padding-left: 0.5em;
          }
  }
  .manual-p-text1 li::marker{
    font-weight: bold;
    color: $mainFontColor;
  }
 
 
 
 
  .privacyPolicy{
    height: 80vh;
    width: 100vw;
    margin: 0 auto;
    max-width: 100%;
    background-color: rgb(75, 71, 71);
  }
 
 
  .box11{
    top: 3398px;
    left: 20px;
    height: 10px;
    width: 68px;
    @include box1;
  }
  // .box12{
  //   top: 5468px;
  //   left: 106px;
  //   height: 458px;
  //   width: 10px;
  //   @include box2;
  // }
  .box13{
    top: 3617px;
    left: 70px;
    height: 10px;
    width: 270px;
    @include box3
  }
  // .box14{
  //   top: 5468px;
  //   right: 106px;
  //   height: 458px;
  //   width: 10px;
  //   @include box4
  // }
  .box15{
    top: 3398px;
    right: 20px;
    height: 10px;
    width: 68px;
    @include box5
  }
  .box16{
    position: absolute;
    top: 5805px;
    right: 618px;
    height: 3px;
    width: 120px;
    border-bottom-color: $mainFontColor;
    border: 2px solid;
  }
 
  .privacyPolicy-title{
    h1{
      display: flex;
      padding: 0 30px;
      text-align: center;
      justify-content: center;
      float: none;
      font-weight: bold;
      height: 80px;
      margin :0 auto;
      color: $mainFontColor;
    }
   
  }
  .privacyPolicy-text{
    height: 226px;
    width: 82vw;
    margin: 0 auto;
  }
    .description{
      // cursor: pointer;
      overflow-y: scroll;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      background-color: #fff;
      line-height: 2;
      h3{
        font-size: 20px;
      }
      h4{
        font-style: 17px;
      }
      p{
        font-style: 13px;
      }
    }
    #pp-text{
      display: none;
    }
    #pp-text:checked ~  .description{
      display:block;
    }
 
 
    // ----------contact----------
  .contact2{
    height: 100px;
    width: 100vw;
    margin: 0 auto;
    .contact2-title{
      h1{
        display: flex;
        padding: 34px 30px;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        height: 118px;
        font-size: 30px;
        margin :0 auto;
        color: $mainFontColor;
          .kochira{
            font-size: 30px;
            color: #e96b6b;
          }
      }
    }
  }
 
 
 
 
 
 
 
 
 
 
  // ----------footer ----------
  .footer {
    background: $mainColor;
    padding: 2% 0 4% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 100vw;  
  }
 
 
 
 
    .footer-area{
      height: 20%;
      width: 100%;
      ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: $mainFontColor;
          li{
            margin-left: 30px;
            font-size: 15px;
            font-weight: bold;
              a{
                color: $mainFontColor;
              }
          }
      }
    }
 
    .small{
      bottom: 0;
      font-weight: bold;
      color: $mainFontColor;
      margin: 0 auto;
      margin-top: 4%;
      text-align: center;
      display: flex;
      justify-content: center;
    }
}





