* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins,sans-serif";
}
body {
  background: linear-gradient(#000, #380909);
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 100px;
  color: #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-title {
  font-size: 4rem;
  margin-bottom: 50px;
}
.content {
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .img {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
}
.content .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 10;
}
.content .text-box {
  z-index: 20;
  background: rgba(255, 255n, 255, 0.1);
  padding: 40px;
  max-width: 400px;
  transform: translate(-80px, 50px);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border-radius: 1px solid rgba(255, 255n, 255, 0.1);
}
.content .text-box h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}
/* section02 */
.section-title {
  font-size: 3rem;
  margin-bottom: 80px;
}
.info-title {
  font-size: 1.8rem;
  margin: 10px;
}
.info {
  width: 700px;
  margin-left: 50px;
}
/*section03*/
.info {
  width: 400px;
  margin-left: 50px;
}
.info li {
  list-style: none;
  font-size: 1.4rem;
}
.info li a {
  color: white;
  text-decoration: none;
}
.info li:not(:last-child) {
  margin-bottom: 50px;
}
.info li:nth-child(1),
.info li:nth-child(5) {
  padding-left: 100px;
}
.info li:nth-child(2),
.info li:nth-child(4) {
  padding-left: 50px;
}
.sec-03 {
  margin-bottom: 100px;
}

/* footer */
.footer {
  position: absolute;
  width: 100%;
  background: rgb(126, 114, 231);
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  left: 0;
}
.footer ul {
  list-style: none;
  padding: 0;
  font-size: 24px;
}
.footer ul a {
  text-decoration: none;
  color: #faf8f8;
  transition: 0.2s;
  font-size: 16px;
}
.footer ul i {
  letter-spacing: 10px;
  color: #f8f4f4;
  cursor: pointer;
}
.footer ul small {
  color: white;
}
.footer ul a:hover {
  color: #21e2d9;
}
/* footer */
