* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto sans jp", sans-serif;
}
nav1 {
  width: 100%;
  padding: 20px 100px;
  text-align: left;
  position: fixed;
}
nav2 {
  width: 100%;
  padding: 0px 0px;
  position: fixed;
}
nav3 ul {
  list-style: none;
  position: fixed;
  background-color: chartreuse;
  width: 1400px;
}
nav3 ul li {
  display: inline-block;
  margin: 20px 30px;
}
nav3 ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
  position: fixed;
}
nav4 {
  width: 100%;
}
